<% include ./partials/header %>

<!--// you can add food items-->

<div class='container'>
    <div class='form-group'>
        <h1>Add New Items in your Menu</h1>
        <a href='/fooditems/new' class='btn btn-primary'>Add Food Item</a>
        <br>
        <!--<a href='#' class='btn btn-primary'>Show History</a>-->
    </div>
</div>
<!--< % include ./partials/footer %>-->